body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#canvas{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 45px 2fr 1fr;
    grid-template-rows: 45px 1fr;
}

#settings_button{
    display: -webkit-flex;
    cursor: pointer;
    width: 100%;
    height: 100%;
    align-self: center;
}

#categories_bar{
    display: flex;
    flex-direction: row;
    background-color: rgb(228, 99, 99);
    grid-row: 1/2;
    grid-column: 1/3
}

#factions_bar{
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 177, 59);
    grid-column: 1/2
}

#toolbar{
    display: flex;
    flex-direction: row;
    grid-row: 1/2;
    background-color: brown;
}

#content{
    grid-column: 2/4;
}

.faction_item{
    display: block;
    cursor: pointer;
}

.faction_item.active{
    background-color: rgb(255, 255, 255);
}

.category_item{
    display: block;
    cursor: pointer;
}

.toolbar_item{
    display: block;
    cursor: pointer;
}

.category_item.active{
    background-color: rgb(255, 255, 255);
}

.category-item{
    display: block;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.item_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: lightgray;
    padding: 5px;
    width: 100%;
}

.row_container{
    display: grid;
    grid-template-rows: repeat(5, 1fr)
}

.item_level1{
    background-color: lightgreen;
}

.chances_table{
    background-color: lightgreen;
    display: grid;
}

.item_row{
    display: flex;
    flex-direction: row;
    background-color: rgb(130, 187, 184);
    border-radius: 5px;
    height: 25px;
    padding-top: 3px;
    border-top: 1px solid black;
}

.item_column{
    display: flex;
    flex-direction: column;
    background-color: rgb(130, 187, 184);
    border-radius: 5px;
}

summary.item_row{
    height: 25px;
}

details.item_row{
    margin: 0px 0px 5px 5px;
}

.attributes_item_row{
    display: flex;
    flex-direction: column;
    background-color: rgb(138, 201, 198);
    border-radius: 5px;
}

summary.attributes_item_row{
    height: 25px;
}

details.attributes_item_row{
    margin: 0px 0px 5px 5px;
}

.attributes_grid{
    display: grid;
    grid-template-columns: 100px 80px;
    row-gap: 5px;
    background-color: rgb(157, 231, 228);
}

.chances_item{
    display: block;
    min-width: 200px;
    max-width: 200px;
}

.chances_row{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(159, 230, 226);
    border-radius: 5px;
    column-gap: 5px;
}

.attr_row{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(159, 230, 226);
    border-radius: 5px;
    column-gap: 5px;
    height: 25px;
    padding-top: 3px;
    border-top: 1px solid black;
}

.attr_item{
    display: block;
    min-width: 200px;
    max-width: 200px;
    cursor: pointer;
    background-color: rgb(159, 230, 226);
}

.chance{
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    min-width: 100px;
    max-width: 100px;
    background-color: white;
}

.chance_label {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
    font-size: 12px;
    font-style: italic;
    color: grey;
}

input.chance{
    padding-block: 0px;
    padding-inline: 0px;
}

.item_level3{
    background-color: lightcoral;
}

.item_grid{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 5px;
}

.item_grid>div{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;

}

.messageBox{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
    display: block;
}

.armor_drop_settings{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.armor_drop_settings label{
    font-size: 16px;
    font-weight: normal;
}

.attention{
    font-weight: bold;
}

.attributes_grid>select{
    width: 200px;
}

.addDiv>button{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}